* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.action-icon {
  cursor: pointer !important;
  transition: transform 0.2s;
}

.action-icon.action-icon-small {
  transform: scale(0.8);
}

.RightBarWrapper {
  height: calc(100vh-120px) !important;
}

.postDataWrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.ProfilePage__PostsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: stretch;
}

@media screen and (max-width: 925px) {
  .ProfilePage__PostsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .ProfilePage__PostsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 623px) {
  .ProfilePage__PostsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.profileImageWrapper .postImageContainer {
  width: 100%;
  min-height: 400px;
  max-width: 400px;
  max-height: 400px;
}

.processResultGif {
  max-width: 180px;
  max-height: 180px;
  margin: 18px auto;
}
.infinite-scroll-component__outerdiv {
  overflow: hidden !important;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

@media screen and (max-width: 450px) {
  .processResultGif {
    max-width: 100px;
    max-height: 100px;
    margin: 10px auto;
  }
}

.crossDeleteIcon {
  opacity: 0.6;
  color: red;
}

.crossDeleteIcon:hover {
  opacity: 1;
  cursor: pointer;
}

.timelinePostImage {
  width: 100%;
  object-fit: scale-down;
  min-height: 400px;
  max-height: 600px;
}

@media screen and (max-width: 450px) {
  .timelinePostImage {
    min-height: 280px;
    max-height: 320px;
    width: 100%;
  }
}

.profile-setup-image__wrapper {
  max-width: min-content;
  max-height: min-content;
  padding: 3px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.postUploadImage {
  max-height: 50vh;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(20, 30, 200, 0.24);
  outline: 3px solid rgba(20, 30, 200, 0.5);
}

.postUploadFlex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .uploadPostImage {
    max-height: 30vh;
  }
}
.postUploadFlex {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.postUploadImageConatainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-setup-image__wrapper{
  margin: 5px auto;
}

.security-info__form{
  margin: 2rem auto;
}